xarray[complete]
git+https://github.com/intake/kerchunk.git
cloudpickle==2.0.0
dask==2022.02.1
distributed==2022.2.1
msgpack==1.0.2
python==3.9.12
toolz==0.11.2
tornado==6.1
pandas==1.4.2
numpy==1.21.5
click
dask-cloudprovider
jedi
s3fs
fsspec
h5netcdf
numcodecs
blosc
lz4
pickle5
retry
pyyaml
seawater
awswrangler
ecmwflibs
netCDF4
tqdm
zarr
dask-labextension
