xarray[complete]
git+https://github.com/intake/kerchunk.git@0.0.5
zarr
click
dask-cloudprovider
distributed
dask-cloudprovider
jedi
s3fs
fsspec
h5netcdf
numcodecs
blosc
lz4
cloudpickle
pickle5
pandas
retry
pyyaml
seawater
awswrangler
ecmwflibs
netCDF4
tqdm
zarr
dask-labextension
