xarray[complete]
git+https://github.com/intake/kerchunk.git@0.0.5
zarr
click
dask-cloudprovider==2022.4.1
distributed==2022.4.1
dask-cloudprovider==2022.4.1
jedi
s3fs
fsspec
h5netcdf
numcodecs
blosc
lz4
cloudpickle
pickle5
pandas
retry
pyyaml
seawater
graphviz
awswrangler
ecmwflibs
netCDF4
tqdm
zarr
dask-labextension
